.row-header {
    font-family: 'Open Sans', 'Source Sans 3', sans-serif !important;
}
.entypo-chat, .entypo-logout, .entypo-moon, .entypo-flash, .glyphicon-asterisk {
    font-size: 18px;
}
.list-inline li a {
    /* font-size: 14px; */
}

/* .entypo-chat {
    position: relative;
    display: block;
    padding: 10px 10px;
    color: #737881;
} */

.row-header {
    background-color: white !important;
    margin-left: -19px !important;
    margin-right: -19px !important;
    margin-top: -30px !important;
    font-family: 'Open Sans', 'Source Sans 3', sans-serif !important;
}

.profile-info-container {
    margin-top: 15px !important;
}

.profile-info {
    margin-top: 0px !important;
    background-color: white !important;
}

.raw-links {
    margin-bottom: -5px !important;
}

.user-name {
    font-size: 16px !important;
    color: black !important;
    font-weight: 600 !important;
    margin-top: 10px !important
} .user-type {
    font-size: 12px !important;
    color: gray !important;
}

.user-info > .language-selector {
}

.li-moon {
    margin-top: 8px !important;
    margin-right: 10px !important;
} .li-chat {
    margin-top: 8px !important;
    margin-right: 35px !important;
} 
.language-selector {
    margin-right: -1px !important;
}

.profile-info.dropdown.pull-right .dropdown-menu {
    border: 1px solid var(--color-primary) !important;
}

@media (max-width: 767px) {
    .li-moon {
        margin-top: 6px !important; 
        margin-right: 5px !important; 
    } .li-chat {
        margin-top: 8px !important;  
        margin-right: 5px !important; 
    } .language-selector {
        margin-bottom: 0px !important; 
        margin-top: 2px !important; 
        margin-right: -4px !important;
    }
}